// Place all the styles related to the zombies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#t1 {
    
    margin-top: 20px;
        margin-bottom: -20px;
        
    
    background-position: 0px 0px;
    color: rgb(197, 195, 195);
    overflow-wrap: break-word;
    text-align: center;
    text-decoration: none solid rgb(197, 195, 195);
    word-wrap: break-word;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(197, 195, 195);
    font: normal normal normal 36px/normal 'times new roman', times, serif;
    outline: rgb(197, 195, 195) none 0px;
}








#t2 {
	
	
    background-position: 0px 0px;
    color: rgb(197, 195, 195);
    overflow-wrap: break-word;
    text-align: center;
    text-decoration: none solid rgb(197, 195, 195);
    word-wrap: break-word;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(197, 195, 195);
    font: normal normal normal 36px/normal 'times new roman', times, serif;
    outline: rgb(197, 195, 195) none 0px;
}


div.topmenue {
  	margin-top: -150px;
  height:150px;
  background-color:#2D2D2B;
}



.field {

margin-top: -234px;
margin-left: 350px;
	
}

#IMG_1 {
height:100%;
    width:100%;


    background-position: 0px 0px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    cursor: default;
    height: 534px;
    width: 710px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    font: normal normal normal 10px/normal Arial, Helvetica, sans-serif;
}/*#IMG_1*/



body
{
margin:0px;
padding:0px;
width:100%;
}